#Ignore Latex specific "temp" files
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.brf
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.ldb
*.lof
*.lot
*.lol
*.maf
*.mtc
*.mtc1
*.out
*.synctex
*.synctex.gz
*.synctex.gz(busy)
*.tdo
*.nav
*.snm
*.vrb
*.slx.autosave
*.bib.bak
*.xdy

#Temp Files
~$*
